# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs/
*.log
npm-debug.log*

# build output
dist/
build/

# uploads (local storage before cloudinary)
uploads/

# temp files
tmp/
temp/

# database files
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE filesw
.vscode/
.idea/

# misc
*.pid
*.seed
*.pid.lock

# pnpm and yarn logs
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test coverage
coverage/
.nyc_output/

# OneDrive conflict files
*-LAPTOP-*
*-DESKTOP-*